

.app {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-image: url("../src/assets/logggg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: env(safe-area-inset-bottom);
  
}