html,
body,
#root {
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0C1B57;
  background-image: radial-gradient(
    circle at center,
    #2B5BB0 0%,
    #1C3D85 35%,
    #0C1B57 55%,
    #0C1B57 100%
  );
}
