.nav-bar {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding: 0% 10%;
    flex-direction: column;
}

.top-bar  {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 0% 10%;
    flex-direction: row;
    width: 100%;
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 0 auto;
}

.nav-bar-logo {
    align-self: stretch;
    height: 150px;
    width: 250px;
}

.link {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.headers > a:hover {
    color: rgba(87, 255, 247, 0.881);
    transition: 1s;
}

.login-btn {
    align-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 8px;
    border-radius: 15%;
    border-color: rgba(87, 255, 247, 0.881);
    border-width: 2px;
    background-color: transparent;
    cursor: pointer;
    
}

.login-btn:hover {
    background-color: rgb(77, 144, 252);
    transition: 1s;
}

.cart-icon {
    all: unset;
    color: white;
    font-size: 24px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24,;
  color: white;
  font-size: 36px;
  cursor: pointer;
  position: relative;
}

.number-of-items {
    font-size: 16px;
    border-radius: 40%;
    padding: 1px 6px;
    text-align: center;
    background-color: red;
    font-weight: 700;
    transform: translateY(-33%) translateX(-10px);
    position: absolute;
}

.bars-icon {
    display: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.dropdown {
    width: 100%;
    display: flex;
    align-content: flex-start;
    background-color: black;
}

.links {
    display: flex;
    flex-direction: column;
}

.drop {
    display: none;
}


@media screen and (max-width: 600px) {
    .nav-bar {
        gap: 0px;
        padding: 0%;
    }

    .top-bar {
        gap: 0px;
        padding: 0%;
        width: 100vw;
        justify-content: space-around;
    }

    .headers {
        margin: 0;
        display: block;
        padding: 0%;
        width: 33vw;
        height: 10vh;
    }

    .nav-bar-logo {
        height: 90%;
        width: 90%;
    }
    .bars-icon {
        display: block;
        cursor: pointer;
    }

    .bars-icon:hover {
        color: rgba(87, 255, 247, 0.881);
        transition: 1s;
    }

    .link {
        display: none;
    }

    .drop {
        display: block;
    }
    .drop:hover {
    color: rgba(87, 255, 247, 0.881);
    transition: 1s;
    }

    .drop-show {
    display: block;
}
}