@import url('https://fonts.googleapis.com');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(87, 255, 247, 0.881);
    border-radius: 5px;
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    color: white;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
}

.product {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 2px;
    flex-grow: 1;
}

.product_left-div, .product_right-div {
    color: white;
}

.product_left-div {
    overflow: hidden;
    min-width: 270px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 360px;
}



.product_right-div {
    padding-left: 10px;
    max-width: 400px;
    backdrop-filter: blur(16px);
}

.right-div-upper-part {
    letter-spacing: -2px;
    text-transform: uppercase;
    line-height: 0.9;
}

.right-div-upper-part > h1 {
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Poppins','Archivo Black', sans-serif;
}

.right-div-upper-part > h3 {
    font-size: 20px;
    white-space: pre-line;
    font-weight: 800;
    max-width: 550px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    margin-top: 5px ;
}

.right-div-middle-part > h2 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.right-div-middle-part > h2 > span {
    font-weight: 800;
}

.right-div-bottom-part > p {
    letter-spacing: 1px;
    line-height: 1;
    font-size: 20px;
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
}

.button-container {
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins','Roboto', 'Archivo Black', sans-serif;
    
}

.co-btn {
    all: unset;
    cursor: pointer;
    border: 2px solid rgba(0, 255, 200, 0.5);
    background-color: rgb(31, 110, 237);
    border-radius: 7px;
    max-width: 120px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    flex-grow: 1;
    padding: 4px 10px;
    font-weight: 600;
}

.co-btn:hover {
    transition: 0.5s;
    background-color: cornflowerblue;
}

.cart-div {
    all: unset;
    cursor: pointer;
    border: 2px solid rgba(87, 255, 247, 0.881);
    border-radius: 7px;
    padding: 8px 26px;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
    gap: 5px;
    align-content: center;
    align-items: center;
}


.cart-div:hover {
    transition: 0.7s;
    background-color: rgba(0, 255, 200, 0.3);;
}



@media screen and (max-width: 600px) {
    .product-container {
        border: none;
    }

    .product {
        margin: 5px;
        flex-direction: column;
    }
    
    .product_left-div {
        min-width: 214px;
        min-height: 288px;
    }

    

    .product_right-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 95%;
    }

    .right-div-upper-part > h1 {
        margin-top: 5px;
        font-size: 40px;
    }

    .right-div-middle-part > h2 {
        margin: 0;
    }

    .button-container {
        gap: 10px;
    }

    .co-btn {
        padding: 8px 4px;
    }

    .cart-div {
        padding: 8px 4px;
    }
}